.App {
  text-align: center;
  font-family: 'Didact Gothic', sans-serif;
}

/*
blue:   #4CDEF5
green:  #A4D555
pink:   #FF5992
purple  #841983
*/

a {
  text-decoration: none;
  border-radius: 6rem 6rem;
  letter-spacing: .1rem;
}

a:hover {
  text-shadow: .51rem .51rem 1rem slategrey;
}

a:focus {
  text-decoration: none;
}

.App {
  text-align: center;
}

h1 {
  font-family: 'Antic Didone', serif;
  font-size: 5rem;
  font-weight: inherit;
  display: inline;
}

h1 span {
  font-size: 6rem;
  /*font-weight: bolder;*/
}

.ProductCard {
  width: 80%;
  letter-spacing: .15rem;
  margin: auto;
}

.ProductCard div{
  margin-top: 4rem;
}
.ProductCard div h3{
  margin: 3rem 0 -1.5rem 0;
}

.back-btn {
  font-weight: bolder;
  font-size: 1.25rem;
}

.maniac {
  color: orange;
}

.App-transition {
  animation: App-transition-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #fee2f8;
  background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);
  width: 98vw;
  height: 5rem;
  padding: .5rem;
}

/*.App-intro {
  font-size: large;
}*/

.nav {
  width: 8%;
}

.active {
  /*background-color: #FF5992;*/
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: orange;
}

header {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
  align-items: center;
  margin: auto;
  font-size: 1.35rem;
}

.Home {
  width: 100vw;
  height: 20vh;
  background-color: red;
}

.product-display {
  width: 100%
}

.product-description {
  width: 80%;
  margin: auto;
}

.colorChart {
  display: inline-block;
  width: 15%;

}

.ThumbnailCard {
  display: inline-block;
  width: 15%;
  height: 20rem;
  margin: auto 2rem;
}

.ThumbnailCard img {
  width: 20rem;
}

.Thumbnail {
  color: black;
  /*text-shadow: .17rem .09rem 0 purple;*/
  letter-spacing: .15rem;
}

.Search {
  width: 50%;
  height: 2rem;
  box-shadow: .1rem .1rem 1rem .01rem orange;
  border-radius: 6rem 6rem;
  font-size: 1.5rem;
  text-align: center;
  font-style: normal;
  margin: 1rem 0;
  letter-spacing: .15rem;
  opacity: .4;
}

.Search:focus {
  text-decoration: none;
  outline: none;
  opacity: .8;
}

@keyframes App-transition-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
